Body{
	background-color: lightblue;

}
p{
	
	text-align: left;
	font-family: cursive;
 	 
}

h1{
	background-color: #F5A9F2;
	text-align: center;
	font-family: Arial;
 	 
}

a{
	background-color: #F5A9F2;
	text-align: left;
	font-family: Arial;
	 

}

